body {
    margin: 20px auto;
    width: 960px;
    justify-items: center;
   
}
div,footer {
   
       background-color:silver;
    }
nav, section, main, footer {
    display: grid;
    width: 100%;
    margin-top: 7px;
    margin-left: 30px;
    margin-right: 30px;
    }
    nav{
        grid-template:80px/200px 460px;
        grid-gap: 20px;
        background-color: white;
        justify-content: space-between;
     }
    nav div:nth-of-type(2) {
        height: 40px;
        align-self: center;
        justify-self: center;
    }
    li{
        list-style-type: none;
        }
        nav ul li      {display: inline;}
        nav ul li    {padding: 3px 25px; font-size: 1.2em;
        }

    section{
        font-size: 150%;
        text-align: left;
        }

    main{
        height: 300px;
        display: grid;
        grid-template: repeat(3,1fr)/repeat(3,1fr);
        grid-gap :10px;
        }
        footer{
            height: 60px;
            background-color: silver;
            justify-content: center;
            align-items: center;
            
        }